*.swp
.rvmrc
.ruby-gemset
.ruby-version
.rbenv-vars
.rbenv-gemsets
.DS_Store*
.autotest
.tconsole
ehthumbs.db
Thumbs.db
.bundle
*.log
*.sql
*.sqlite
*.sqlite3
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.tgz
*.swo
.arcconfig
Gemfile.local
